@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$color1:  #ffffff; 
$color2:  #1445b3; 
$color3:  #007bff;
$color4:  #74b5fc;
$color5:  #004289;
$color6:  #283d50;
$color7:  #556877;
$color8:  #444444; 
$color9:  #111111;
$color10: #004a99; 
$color11: #bfddfe;
$color12: #999999;
$color13: #ecf5ff;
$color14: #00428a; 

$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;


body{
    font-family: $font1; 
    padding: 0%;
    margin: 0%;
}

/* ---------------------------------------
------------------------------------------
                      HEADER 
-------------------------------------------
-------------------------------------------*/

img.logo {
    height:25px; 
    width: auto; 
    display: inline-block;
    padding-top: 28px;
    padding-left: 8%;
}

.header {
    background-color: $color1;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;  
}

.menu {
    font-family: $font1;
    text-align: left;
}

li {
    font-size: 14px;  
    color: $color5;
    float: left;
    padding: 10px;
    text-align: left;
    list-style-type:none;

}

a{
    text-decoration: none;
    color: $color5

}

.dropdown {
    display: none;

}
.deepdropdown {

}

h3 {
    font-family: $font1;
    font-size: 40px;
    text-align: center;
    padding-top: 0%

}


/* ---------------------------------------
------------------------------------------
                WE PROVIDE
-------------------------------------------
-------------------------------------------*/


.intro {
    height: 630px;
    width: 100%;
    background-color: $color2
}

.titulo {
    height: 630px;
    width: 400px;
    float: left;
    padding-top: 14%;
    padding-left: 12%;
    margin-bottom: 40px;

}
h2{
    font-family: $font1; 
    font-size: 48px;
    color: $color1; 
    text-align: left;
    margin: 0px 0px 20px;
    
}
.botones {

}
.imgventanas{
    height: 55px;
    width: 560px;
    float: right;
    padding-top: 13%;
    padding-right: 12%;
}
.imgventanas img {
    width: 100%;
    height: auto
    }

/* ---------------------------------------
------------------------------------------
                      ABOUT
-------------------------------------------
-------------------------------------------*/

.about {
    height: 1575px;
    width: 100%;
    background-color: $color1;
}

/* ---------------------------------------
------------------------------------------
                    SERVICES
-------------------------------------------
-------------------------------------------*/
.services {
    height: 950px;
    width: 100%;
    background-color: $color13; 
}


/* ---------------------------------------
------------------------------------------
                WHY CHOOSE US
-------------------------------------------
-------------------------------------------*/

.choose {
    height: 950px;
    width: 100%;
    background-color: $color10; 
}

/* ---------------------------------------
------------------------------------------
                PORTFOLIO
-------------------------------------------
-------------------------------------------*/

.portfolio {
    height: 1260px;
    width: 100%;
    background-color: $color1
}


/* ---------------------------------------
------------------------------------------
                TESTIMONIALS 
-------------------------------------------
-------------------------------------------*/

.testimonials {
    height: 400px;
    width: 100%;
    background-color: $color13; 
    padding-top: 10px;
    }

.content-testimonials {
        padding-right: 280px;
        padding-left: 280px;
        display: flex;
}

.heath {
    width: 120px;
    height: auto;
    border-radius: 60px;
    margin-right: 20px;
}

.content-testimonials h5 {
    font-size: 14px;
    color: $color12; 
}


.content-testimonials p {
    font-style: italic;
}


/* ---------------------------------------
------------------------------------------
                TEAM 
-------------------------------------------
-------------------------------------------*/

.team {
	height: 500px;
	width: 100%;
	background-color: $color1; 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fotosteam {
	display: flex;
}

.batman1 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-01.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman2 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-02.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman3 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-03.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman4 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-04.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    }

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(46, 46, 142, 0.5);
    color: $color1; 
	width: 100%;
	height: 100%;
	transform: translateY(220px);
	transition: transform 1s;
}

.batman1:hover .overlay {
	transform: translateX(0);
}

.batman2:hover .overlay {
	transform: translateX(0);
}

.batman3:hover .overlay {
	transform: translateX(0);
}

.batman4:hover .overlay {
	transform: translateX(0);
}

.nombrebatman {
    font-weight: bold; 
}

.cargobatman {
    font-style: italic;
}

/* ---------------------------------------
------------------------------------------
                    CLIENTS 
-------------------------------------------
-------------------------------------------*/

.clients {
    height: 600px;
    width: 100%;
    background-color: $color13; 
    padding: 50px;
    }

.clients p {
    text-align: center;
}    

.bloque1 {
    display: flex;
    justify-content: center;
    }

.bloque2 {
    display: flex;
    justify-content: center;
    }

.cajablanca {
    width: 250px;
    height: 200px;
    background-color: $color1; 
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;   

} 

.logocliente {
    
    img {
        width: 120px;
        height: auto;
        transition: all 2s;
    }

    img:hover {
    transform: scale(1.5,1.5);
    }
}


/* ---------------------------------------
------------------------------------------
                   CONTACT 
-------------------------------------------
-------------------------------------------*/

.contact {
    height: 500px;
    width: 100%;
    background-color: $color1;
    padding: 50px;
    
 
    .contactustotal {
        display:flex;
    
        .mapouter {
        position: relative;
        text-align: right;
        height: 350px;
        width: 500px;
    

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 350px;
        width: 500px;
    }
    }
}     
}

.infocontacto {

    width: 300px;

}




/* ---------------------------------------
------------------------------------------
                  FOOTER 
-------------------------------------------
-------------------------------------------*/


footer {
    height: 500px;
    width: 100%;
    background-color: $color10;
    color: $color1; 
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;

        }

    .bloque1 {
        display: flex;
        flex-direction: row;
    
    }

    .bloque2 {
        display: flex;
        flex-direction: row;
        
    }

    .wayne {
        width: 300px;
        font-size: 13px;
    line-height: 24px;
    }

    .links {
        width: 100px;
    }

    .contactus {
        width: 200px;
    }

    .newsletter {
        width: 200px
    }

/* ---------------------------------------
------------------------------------------
                 COPYRIGHT 
-------------------------------------------
-------------------------------------------*/
.copyright {
    height: 100px;
    width: 100%;
    background-color: $color14; 
    text-align: center;
    color: $color1; 
    padding-top: 20px;
    font-weight: 400;
    line-height: 1.5;

    p span { 
        font-weight: bolder;
    }
}

