@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 0%;
  margin: 0%; }

/* ---------------------------------------
------------------------------------------
                      HEADER 
-------------------------------------------
-------------------------------------------*/
img.logo {
  height: 25px;
  width: auto;
  display: inline-block;
  padding-top: 28px;
  padding-left: 8%; }

.header {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around; }

.menu {
  font-family: "Montserrat", sans-serif;
  text-align: left; }

li {
  font-size: 14px;
  color: #004289;
  float: left;
  padding: 10px;
  text-align: left;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #004289; }

.dropdown {
  display: none; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 0%; }

/* ---------------------------------------
------------------------------------------
                WE PROVIDE
-------------------------------------------
-------------------------------------------*/
.intro {
  height: 630px;
  width: 100%;
  background-color: #1445b3; }

.titulo {
  height: 630px;
  width: 400px;
  float: left;
  padding-top: 14%;
  padding-left: 12%;
  margin-bottom: 40px; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: left;
  margin: 0px 0px 20px; }

.imgventanas {
  height: 55px;
  width: 560px;
  float: right;
  padding-top: 13%;
  padding-right: 12%; }

.imgventanas img {
  width: 100%;
  height: auto; }

/* ---------------------------------------
------------------------------------------
                      ABOUT
-------------------------------------------
-------------------------------------------*/
.about {
  height: 1575px;
  width: 100%;
  background-color: #ffffff; }

/* ---------------------------------------
------------------------------------------
                    SERVICES
-------------------------------------------
-------------------------------------------*/
.services {
  height: 950px;
  width: 100%;
  background-color: #ecf5ff; }

/* ---------------------------------------
------------------------------------------
                WHY CHOOSE US
-------------------------------------------
-------------------------------------------*/
.choose {
  height: 950px;
  width: 100%;
  background-color: #004a99; }

/* ---------------------------------------
------------------------------------------
                PORTFOLIO
-------------------------------------------
-------------------------------------------*/
.portfolio {
  height: 1260px;
  width: 100%;
  background-color: #ffffff; }

/* ---------------------------------------
------------------------------------------
                TESTIMONIALS 
-------------------------------------------
-------------------------------------------*/
.testimonials {
  height: 400px;
  width: 100%;
  background-color: #ecf5ff;
  padding-top: 10px; }

.content-testimonials {
  padding-right: 280px;
  padding-left: 280px;
  display: flex; }

.heath {
  width: 120px;
  height: auto;
  border-radius: 60px;
  margin-right: 20px; }

.content-testimonials h5 {
  font-size: 14px;
  color: #999999; }

.content-testimonials p {
  font-style: italic; }

/* ---------------------------------------
------------------------------------------
                TEAM 
-------------------------------------------
-------------------------------------------*/
.team {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.fotosteam {
  display: flex; }

.batman1 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-01.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.batman2 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-02.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.batman3 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-03.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.batman4 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-04.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(46, 46, 142, 0.5);
  color: #ffffff;
  width: 100%;
  height: 100%;
  transform: translateY(220px);
  transition: transform 1s; }

.batman1:hover .overlay {
  transform: translateX(0); }

.batman2:hover .overlay {
  transform: translateX(0); }

.batman3:hover .overlay {
  transform: translateX(0); }

.batman4:hover .overlay {
  transform: translateX(0); }

.nombrebatman {
  font-weight: bold; }

.cargobatman {
  font-style: italic; }

/* ---------------------------------------
------------------------------------------
                    CLIENTS 
-------------------------------------------
-------------------------------------------*/
.clients {
  height: 600px;
  width: 100%;
  background-color: #ecf5ff;
  padding: 50px; }

.clients p {
  text-align: center; }

.bloque1 {
  display: flex;
  justify-content: center; }

.bloque2 {
  display: flex;
  justify-content: center; }

.cajablanca {
  width: 250px;
  height: 200px;
  background-color: #ffffff;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.logocliente img {
  width: 120px;
  height: auto;
  transition: all 2s; }

.logocliente img:hover {
  transform: scale(1.5, 1.5); }

/* ---------------------------------------
------------------------------------------
                   CONTACT 
-------------------------------------------
-------------------------------------------*/
.contact {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
  padding: 50px; }
  .contact .contactustotal {
    display: flex; }
    .contact .contactustotal .columna1 {
      margin: 20px; }
      .contact .contactustotal .columna1 .mapouter {
        position: relative;
        text-align: right;
        height: 350px;
        width: 500px; }
        .contact .contactustotal .columna1 .mapouter .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 350px;
          width: 500px; }

.columna2 {
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: column; }
  .columna2 .infocontacto {
    margin-bottom: 20px;
    display: flex; }
    .columna2 .infocontacto i {
      color: #007bff; }
      .columna2 .infocontacto i p {
        color: #283d50; }

.form {
  display: flex; }

input {
  padding-left: 5px; }

.primerinput {
  width: 300px;
  height: 30px; }

.segundoinput {
  height: 30px;
  width: 600px; }

.sendmessage {
  height: 40px;
  width: 140px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 20px;
  transition: 0.3s; }

.sendmessage:hover {
  background-color: #004a99; }

/* ---------------------------------------
------------------------------------------
                  FOOTER 
-------------------------------------------
-------------------------------------------*/
footer {
  height: 500px;
  width: 100%;
  background-color: #004a99;
  color: #ffffff;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex; }

.bloque1 {
  display: flex;
  flex-direction: row; }

.bloque2 {
  display: flex;
  flex-direction: row; }

.wayne {
  width: 300px;
  font-size: 13px;
  line-height: 24px; }

.links {
  width: 100px; }

.contactus {
  width: 200px; }

.newsletter {
  width: 200px; }

/* ---------------------------------------
------------------------------------------
                 COPYRIGHT 
-------------------------------------------
-------------------------------------------*/
.copyright {
  height: 100px;
  width: 100%;
  background-color: #00428a;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  font-weight: 400;
  line-height: 1.5; }
  .copyright p span {
    font-weight: bolder; }
