@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

img.logo {
    height:25px; 
    width: auto; 
    display: inline-block;
    padding-top: 28px;
}



h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 3%;

}

.header {
    background-color:#ffffff;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
  
}
.menu {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

li {
    font-size:14px;
    color: 
    float: left;
    padding: 10px;
    text-align: left;
    list-style-type:none;

}

a{
    text-decoration: none;
    color: #004289;

}

.dropdown {
    display: none;

}
.deepdropdown {

}

.intro {
    height: 630px;
    width: 100%;
    background-color: #1445b3;
}

.about {
    height: 1575px;
    width: 100%;
    background-color: #ffffff;
}

.services {
    height: 950px;
    width: 100%;
    background-color: #ecf5ff;
}

.choose {
    height: 950px;
    width: 100%;
    background-color: #1445b3;
}

.portfolio {
    height: 1260px;
    width: 100%;
    background-color: #ffffff
}

.testimonials {
    height: 400px;
    width: 100%;
    background-color: #ecf5ff;
}

.team {
    height: 630px;
    width: 100%;
    background-color: #ffffff
}

.clients {
    height: 800px;
    width: 100%;
    background-color: #ecf5ff;
}

.contact {
    height: 700px;
    width: 100%;
    background-color: #ffffff
}

.footer {
    height: 1000px;
    width: 100%;
    background-color: #004a99
}

.copyright {
    height: 100px;
    width: 100%;
    background-color: #052b53
}