@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$color1:  #ffffff; 
$color2:  #1445b3; 
$color3:  #007bff;
$color4:  #74b5fc;
$color5:  #004289;
$color6:  #283d50;
$color7:  #556877;
$color8:  #444444; 
$color9:  #111111;
$color10: #004a99; 
$color11: #bfddfe;
$color12: #999999;
$color13: #ecf5ff;
$color14: #00428a; 
$color15: #00458f;
$color16: #ff689b;

$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;

$icon: 64px;

@mixin formato-titulo {
    color: $color6;
    font-size: 36px;
    font-weight: 500;    
    font-family: $font1;
    text-align: center;
}
@mixin formato-back-port{
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
    height: 250px;
    margin: 20px;
}

body{
    font-family: $font1; 
    margin: 0;
    scroll-behavior: smooth;
}

/* ---------------------------------------
------------------------------------------
                      HEADER 
-------------------------------------------
-------------------------------------------*/
nav {
    box-sizing: border-box; 
    background-color: $color1;
    font-size: 14px;
    font-weight: 500;   
    color: $color5;
    height: auto;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    z-index: 1;
}

.img-logo img{
    height:25px; 
    width: auto; 
    padding: 15px; 
}

.links-header a{
    text-decoration: none;
    transition: all 0.3s;
    padding: 15px;
}
.links-header a:hover{
    color: $color3;
}




/* ---------------------------------------
------------------------------------------
                WE PROVIDE
-------------------------------------------
-------------------------------------------*/


#intro {
    height: 630px;
    width: 100%;
    background-color: $color2;
}

.titulo {
    height: auto;
    width: 400px;
    float: left;
    padding-top: 14%;
    padding-left: 12%;
    margin-bottom: 40px;
}


.texto-provide {
    font-family: $font1; 
    font-size: 48px;
    font-weight: bolder;
    color: $color1; 
    text-align: left;
    margin: 0px 0px 40px 0px;

}   


.resaltado-provide {
    color: $color4;
    text-decoration: underline;
    font-weight: bolder;

}

.boton-main1{
    background-color: $color3;
    color: $color1;
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 32px;
    border: 2px solid $color3;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
    text-decoration: none;
}
.boton-main1:hover{
    background-color: $color2;
    border: 2px solid $color1;
}
.boton-main2{
    background-color: $color2;
    color: $color1;
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 32px;
    border: 2px solid $color1;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
    text-decoration: none;
}
.boton-main2:hover{
    background-color: $color3;
    border: 2px solid $color3;
}
.imgventanas{
    height: 55px;
    width: 560px;
    float: right;
    padding-top: 13%;
    padding-right: 12%;
    
}
.imgventanas img {
    width: 100%;
    height: auto
    }

/* ---------------------------------------
------------------------------------------
                      ABOUT
-------------------------------------------
-------------------------------------------*/

#about {
    width: 100%;
    background-color: $color1;
    padding-bottom: 40px; 
    
    }
    
.subtitulo-about-us {
        @include formato-titulo;
        
        }
   
 
   
.tituloabout {   
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 15px;
        color: $color7;
        font-family: $font2;
    }
}


.bloqueabout {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.subbloqueabout {
    display: flex;
    flex-direction: row;
    align-items: center;
   } 

.circuloicono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid $color3;
    margin: 2px;
    margin-right: 5px;   
    
    i {
        color: $color3;
        font-size: 30px;
    }


}

.circuloicono:hover {
    background-color: $color3;
    }

i:hover {
    color: $color1;
}    

.textoabout {
    width: 550px;
    padding-left: 50px;
    padding-right: 50px;
    
    .subtituloabout {
        font-size: 24px;
    }
   
}

.imgabout1 {
    width: 40%;
    height: auto;
}

.imgabout2 {
    width: 45%;
    height: auto;
}

.imgabout3 {
    width: 40%;
    height: auto;
}


/* ---------------------------------------
------------------------------------------
                    SERVICES
-------------------------------------------
-------------------------------------------*/
#services {
    height: 800px;
    width: 100%;
    background-color: $color13; 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        @include formato-titulo;
    

    p {
        text-align: center;
    }
    

    } 
    
}

.contenedorcajas {
    display: flex;
    flex-direction: row;
    justify-content: center;
        }

.cajas {
    width: 400px;
    height: 150px;
    background-color: $color1;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;

    
    .encabezado {
        font-weight: 700;
      
    }  

   }

   .textcontainer {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
    
   .icono1 {
    color: $color16;
    font-size: $icon;
} 

.icono2 {
    color: #3fcdc7;
    font-size: $icon;
} 


 .icono3  {
    color: #d6ff22;
    font-size: $icon;
 }

 

 .icono4 {
    color: #e9bf06;
    font-size: $icon;
 }

 .icono5 {
    color:#41cf2e;
    font-size: $icon;
 }

 .icono6 {
    color: #4680ff;
    font-size: $icon;
 }

/* ---------------------------------------
------------------------------------------
                WHY CHOOSE US
-------------------------------------------
-------------------------------------------*/

.choose {
    height: 800px;
    width: 100%;
    background-color: $color10; 
    color: $color1;
    padding-top: 20px;
    padding-bottom: 20px;

    h3{
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    

   p {
       text-align: center;
   }
    

    }
}

.choosemain {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
    
    
.cajaschoose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}

.cajaindividual {
    width: 300px;
    height: 300px;
    background-color: $color15;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    
    i {
        color: $color11;
        font-size: 48px;

    h4 {
    font-size: 22px;
    font-weight: 600;

    }     
    }
}

.cajaindividual:hover {
    background-color: $color5;
}


.textointermedio {
    font-size: 15px;
}

.leermas {
        font-weight: 600;
        cursor: pointer;
}

.leermas:hover {
    text-decoration: underline;
}
.numeroschoose {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
   
}

.cifrascontador {
    font-weight: bold;
    font-size: 48px;
}


/* ---------------------------------------
------------------------------------------
                PORTFOLIO
-------------------------------------------
-------------------------------------------*/

#portfolio {
    width: 100%;
    height: auto;
    background-color: $color1;
    display: flex;
    flex-direction: column;
}

.titulo-portfolio {
        @include formato-titulo;
    
    }

    .botones-portfolio ul{
        display: flex;
        justify-content:center;
        align-items: center;
  
        }

    .botones-portfolio ul li {
    margin: 15px;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: $color3;
    border-radius: 50px;
    background: $color13;
    display: flex;
    justify-content:center;
    align-items: center;
    }
    .bp:hover{
        background-color: $color3;
        color: $color1;
    }

    .img-portfolio {
        display: flex; 
        flex-wrap: wrap;
        align-content: center;
        .img-app1{
            background-image: url("img/portfolio/app1.jpg");
            @include formato-back-port;
        }
        .img-app2{
            background-image: url("img/portfolio/web3.jpg");
            @include formato-back-port;
        }
        .img-app3{
            background-image: url("img/portfolio/app2.jpg");
            @include formato-back-port;
            
        }
        .img-app4{
            background-image: url("img/portfolio/card2.jpg");
            @include formato-back-port;
        }
        .img-app5{
            background-image: url("img/portfolio/web2.jpg");
            @include formato-back-port;
        }
        .img-app6{
            background-image: url("img/portfolio/app3.jpg");
            @include formato-back-port;
        }
        .img-app7{
            background-image: url("img/portfolio/card1.jpg");
            @include formato-back-port;
        }
        .img-app8{
            background-image: url("img/portfolio/card3.jpg");
            @include formato-back-port;
        }
        .img-app9{
            background-image: url("img/portfolio/web1.jpg");
            @include formato-back-port;
        }
    }
   






/* ---------------------------------------
------------------------------------------
                TESTIMONIALS 
-------------------------------------------
-------------------------------------------*/

#testimonials {
    width: 100%;
    background-color: $color13; 
    padding: 60px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    h3{
        @include formato-titulo;
    }
    }

.content-testimonials {
        padding-right: 280px;
        padding-left: 280px;
        display: flex;
}

.heath {
    width: 120px;
    height: auto;
    border-radius: 60px;
    margin-right: 20px;
}

.content-testimonials h5 {
    font-size: 14px;
    color: $color12; 
}


.content-testimonials p {
    font-style: italic;
}


/* ---------------------------------------
------------------------------------------
                TEAM 
-------------------------------------------
-------------------------------------------*/

#team {
	height: auto;
	width: 100%;
    background-color: $color1;
    padding-top: 20px;
    padding-bottom: 40px; 
	display: flex;
	flex-direction: column;
    align-items: center;
    h3 {
        @include formato-titulo;
    }
}

.fotosteam {
	display: flex;
}

.batman1 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-01.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman2 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-02.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman3 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-03.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman4 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-04.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    }

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(46, 46, 142, 0.5);
    color: $color1; 
	width: 100%;
	height: 100%;
	transform: translateY(220px);
	transition: transform 1s;
}

.batman1:hover .overlay {
	transform: translateX(0);
}

.batman2:hover .overlay {
	transform: translateX(0);
}

.batman3:hover .overlay {
	transform: translateX(0);
}

.batman4:hover .overlay {
	transform: translateX(0);
}

.nombrebatman {
    font-weight: bold; 
}

.cargobatman {
    font-style: italic;
}

/* ---------------------------------------
------------------------------------------
                    CLIENTS 
-------------------------------------------
-------------------------------------------*/

.clients {
    height: 680px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color13; 
     h3{
        @include formato-titulo;
    }
    }

.clients p {
    text-align: center;
    padding-bottom: 30px;
    color: $color7;
}    

.bloque1 {
    display: flex;
    justify-content: center;
    }

.bloque2 {
    display: flex;
    justify-content: center;
    }

.cajablanca {
    width: 250px;
    height: 200px;
    background-color: $color1; 
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;   

} 

.logocliente {
    
    img {
        width: 120px;
        height: auto;
        transition: all 2s;
    }

    img:hover {
    transform: scale(1.5,1.5);
    }
}


/* ---------------------------------------
------------------------------------------
                   CONTACT 
-------------------------------------------
-------------------------------------------*/

#contact {
    height: 550px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color1;
    

    h3 {
        @include formato-titulo;
    }
    

    }
    .contactustotal {
        display:flex;
        .columna1 {
            margin: 20px;

        }  
        .mapouter {
        position: relative;
        text-align: right;
        height: 350px;
        width: auto;
        }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 350px;
        width: auto;
    }
     
}

.columna2 {
    
    display: flex;
    flex-direction: column;
    

    .infocontacto {
        
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
   
}
}


.cajitaicono {
    
    display: flex;
    justify-content: center;
    align-items: center;
    

i {
    padding-right: 10px;
    color: $color3;

}

    }

    .datoscolumna2 {
    font-size: 14px;
     color: $color6;
    
    }

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    
       }



.primerinput-a {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    box-shadow: none;
    padding-left: 5px;
}

.primerinput-b {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.segundoinput {
    height: 30px;
    width: 620px;
    margin-bottom: 10px;
    padding-left: 5px;
}

textarea {
    padding-left: 5px;
    font-family: $font1;
    font-size: 14px;
    }

input::placeholder {
    font-size: 14px;
}


.sendmessage {
    height: 40px;
    width: 160px;
    background-color: $color3;
    color: $color1;
    font-family: $font2;
    font-size: 16px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sendmessage:hover {
    background-color: $color10;
}

/* ---------------------------------------
------------------------------------------
                  FOOTER 
-------------------------------------------
-------------------------------------------*/


footer {
    height: 350px;
    width: 100%;
    padding-top: 20px;
    background-color: $color10;
    color: $color1; 
    

    .footercontainer {
        display: flex;
        justify-content: center;
    }
}

.bloque1 {
        display: flex;
        flex-direction: row;
        
    
    }

.bloque2 {
        display: flex;
        flex-direction: row;
        
    }

.wayne {
        width: 350px;
        font-size: 13px;
        line-height: 24px;
        margin-right: 5px;

      h4 {
            font-size: 34px;
        }
    }

.links {
       width: 200px;
       margin: 2px;
       line-height: 2;

    h4 {
            font-size: 14px;
            font-weight: bold;
        
        }

    }

    .linksdatos {
        font-size: 14px;
    color: #ecf5ff;
    text-decoration: none;
    transition: 0.5s;
}

.linksdatos:hover {
    color: $color3;
}

.textodatos {
    font-family: $font2;
    font-size: 14px;

    span {
        font-weight: bold;
    }
}

.contactus {
        width: 200px;


        h4 {
            font-size: 14px;
            font-weight: bold;
             
            
        }
        }

.datos {
            line-height: 26px;
        
            }

.contenedoriconos {
    display: flex;
}

.bolaicono {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transition: 0.5s;
}

.bolaicono:hover {
    background-color: $color10;
    cursor: pointer;
}

.newsletter {
        width: 300px;

        h4 {
            font-size: 14px;
            font-weight: bold;
        
           
            }
    }

form {
    display: flex;
}   
    
.bloqueemail  {

    padding: 6px 8px;
    width: 220px;

}
 .botonsubmit {
     background-color: $color3;
     color: $color1;
     border: 0;
     width: 80px;
     padding: 6px 0;
     cursor: pointer;
     transition: 0.5s;
 }   

 .botonsubmit:hover {
     background-color: $color10;
 }

 @media (min-width: 601px)and(max-width:800px) {
	     
    .footercontainer {     
         flex-direction: column;
 }
}



@media (max-width:600px) {
    .footercontainer {
        flex-direction: column;
    }
    
    .bloque1 {
    flex-direction: column;


} 


.bloque2 {
    flex-direction: column;
}
}

 

/* --------------------------------------
------------------------------------------
                 COPYRIGHT 
-------------------------------------------
-------------------------------------------*/
.copyright {
    height: 100px;
    width: 100%;
    background-color: $color14; 
    text-align: center;
    color: $color1; 
    padding-top: 20px;
    font-weight: 400;
    line-height: 1.5; 
    
    }

.destacado-wayne {
    font-weight: bold;
}