
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$color1:  #ffffff; 
$color2:  #1445b3; 
$color3:  #007bff;
$color4:  #74b5fc;
$color5:  #004289;
$color6:  #283d50;
$color7:  #556877;
$color8:  #444444; 
$color9:  #111111;
$color10: #004a99; 
$color11: #bfddfe;
$color12: #999999;
$color13: #ecf5ff;
$color14: #00428a; 
$color15: #00458f;
$color16: #ff689b;

$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;

$icon: 64px;

@mixin formato-titulo {
    color: $color6;
    font-size: 36px;
    font-weight: 500;    
    font-family: $font1;
    text-align: center;
}

body{
    font-family: $font1; 
    margin: 0;
}

/* ---------------------------------------
------------------------------------------
                      HEADER 
-------------------------------------------
-------------------------------------------*/
nav {
    background-color: $color1;
    font-size: 14px;
    font-weight: 500;   
    color: $color5;
    height: auto;
    width: 100%;
    padding: 20px 10px;
    position: fixed;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

.img-logo img{
    height:25px; 
    width: auto;  
    margin-right: 200px;  
}

.links-header a{
    text-decoration: none;
    transition: all 0.4s;
}
.links-header a:hover{
    color: $color3;
}




/* ---------------------------------------
------------------------------------------
                WE PROVIDE
-------------------------------------------
-------------------------------------------*/


#intro {
    height: 630px;
    width: 100%;
    background-color: $color2
}

.titulo {
    height: auto;
    width: 400px;
    float: left;
    padding-top: 14%;
    padding-left: 12%;
    margin-bottom: 40px;

}
h1{
    font-family: $font1; 
    font-size: 48px;
    font-weight: bolder;
    color: $color1; 
    text-align: left;
    margin: 0px 0px 40px 0px;
}
span{
    color: $color4;
    text-decoration: underline;
    font-weight: bolder;
}
.boton-main1{
    background-color: $color3;
    color: $color1;
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 32px;
    border: 2px solid $color3;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
    text-decoration: none;
}
.boton-main1:hover{
    background-color: $color2;
    border: 2px solid $color1;
}
.boton-main2{
    background-color: $color2;
    color: $color1;
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 32px;
    border: 2px solid $color1;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
    text-decoration: none;
}
.boton-main2:hover{
    background-color: $color3;
    border: 2px solid $color3;
}
.imgventanas{
    height: 55px;
    width: 560px;
    float: right;
    padding-top: 13%;
    padding-right: 12%;
}
.imgventanas img {
    width: 100%;
    height: auto
    }

/* ---------------------------------------
------------------------------------------
                      ABOUT
-------------------------------------------
-------------------------------------------*/

#about {
    width: 100%;
    background-color: $color1;
    padding-bottom: 40px;
    h3{
        @include formato-titulo;
    }
    p{
        font-size: 15px;
        color: $color7;
        font-family: $font2;
    }
}     
   
.tituloabout {   
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bloqueabout {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.subbloqueabout {
    display: flex;
    flex-direction: row;
    align-items: center;

.circuloicono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid $color3;
    margin: 2px;   
    
}

    i {
        color: $color3;
        font-size: 30px;
    }
}


.circuloicono:hover {
    background-color: $color3;
    }

i:hover {
    color: $color1;
}    

.textoabout {
    width: 550px;
    padding-left: 50px;
    padding-right: 50px;
    
    .subtituloabout {
        font-size: 24px;
    }
   
}

.imgabout1 {
    width: 40%;
    height: auto;
}

.imgabout2 {
    width: 45%;
    height: auto;
}

.imgabout3 {
    width: 40%;
    height: auto;
}


/* ---------------------------------------
------------------------------------------
                    SERVICES
-------------------------------------------
-------------------------------------------*/
#services {
    height: 800px;
    width: 100%;
    background-color: $color13; 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        @include formato-titulo;
    }

    p {
        text-align: center;
    }
     
    
}

.contenedorcajas {
    display: flex;
    flex-direction: row;
    justify-content: center;
        }

.cajas {
    width: 400px;
    height: 150px;
    background-color: $color1;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;

    
    .encabezado {
        font-weight: 700;
      
    }  

   }

   .textcontainer {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
    
   .icono1 {
    color: $color16;
    font-size: $icon;
} 

.icono2 {
    color: #3fcdc7;
    font-size: $icon;
} 


 .icono3  {
    color: #d6ff22;
    font-size: $icon;
 }

 

 .icono4 {
    color: #e9bf06;
    font-size: $icon;
 }

 .icono5 {
    color:#41cf2e;
    font-size: $icon;
 }

 .icono6 {
    color: #4680ff;
    font-size: $icon;
 }

/* ---------------------------------------
------------------------------------------
                WHY CHOOSE US
-------------------------------------------
-------------------------------------------*/

.choose {
    height: 800px;
    width: 100%;
    background-color: $color10; 
    color: $color1;
    padding-top: 20px;
    padding-bottom: 20px;

    h3{
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }

   p {
       text-align: center;
   }
    
}

.choosemain {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
    
    
.cajaschoose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}

.cajaindividual {
    width: 300px;
    height: 300px;
    background-color: $color15;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;

    i {
        color: $color11;
        font-size: 48px;
    }
}

.cajaindividual:hover {
    background-color: $color5;
}
.numeroschoose {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    
}


/* ---------------------------------------
------------------------------------------
                PORTFOLIO
-------------------------------------------
-------------------------------------------*/

#portfolio {
    width: 100%;
    height: auto;
    background-color: $color1;
    
    h3{
        @include formato-titulo;
    }
    ul{
        display: block;
        text-align: center;
    }
    .botones-portfolio ul li{
    margin: 15px 15px 15px 0;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: $color3;
    border-radius: 50px;
    background: $color13;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    }
    .bp:hover{
        background-color: $color3;
        color: $color1;
    }
   

}




/* ---------------------------------------
------------------------------------------
                TESTIMONIALS 
-------------------------------------------
-------------------------------------------*/

#testimonials {
    width: 100%;
    background-color: $color13; 
    padding: 60px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    h3{
        @include formato-titulo;
    }
    }

.content-testimonials {
        padding-right: 280px;
        padding-left: 280px;
        display: flex;
}

.heath {
    width: 120px;
    height: auto;
    border-radius: 60px;
    margin-right: 20px;
}

.content-testimonials h5 {
    font-size: 14px;
    color: $color12; 
}


.content-testimonials p {
    font-style: italic;
}


/* ---------------------------------------
------------------------------------------
                TEAM 
-------------------------------------------
-------------------------------------------*/

#team {
	height: auto;
	width: 100%;
    background-color: $color1;
    padding-top: 20px;
    padding-bottom: 20px; 
	display: flex;
	flex-direction: column;
    align-items: center;
    h3 {
        @include formato-titulo;
    }
}

.fotosteam {
	display: flex;
}

.batman1 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-01.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman2 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-02.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman3 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-03.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.batman4 {
	width: 220px;
	height: 220px;
	background-image: url("./img/team-04.jpg");
	background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    }

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(46, 46, 142, 0.5);
    color: $color1; 
	width: 100%;
	height: 100%;
	transform: translateY(220px);
	transition: transform 1s;
}

.batman1:hover .overlay {
	transform: translateX(0);
}

.batman2:hover .overlay {
	transform: translateX(0);
}

.batman3:hover .overlay {
	transform: translateX(0);
}

.batman4:hover .overlay {
	transform: translateX(0);
}

.nombrebatman {
    font-weight: bold; 
}

.cargobatman {
    font-style: italic;
}

/* ---------------------------------------
------------------------------------------
                    CLIENTS 
-------------------------------------------
-------------------------------------------*/

.clients {
    height: 600px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color13; 
     h3{
        @include formato-titulo;
    }
    }

.clients p {
    text-align: center;
}    

.bloque1 {
    display: flex;
    justify-content: center;
    }

.bloque2 {
    display: flex;
    justify-content: center;
    }

.cajablanca {
    width: 250px;
    height: 200px;
    background-color: $color1; 
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;   

} 

.logocliente {
    
    img {
        width: 120px;
        height: auto;
        transition: all 2s;
    }

    img:hover {
    transform: scale(1.5,1.5);
    }
}


/* ---------------------------------------
------------------------------------------
                   CONTACT 
-------------------------------------------
-------------------------------------------*/

#contact {
    height: 550px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color1;
    

    h3{
        @include formato-titulo;
    }
    
    .contactustotal {
        display:flex;
    }
        .columna1{
            margin: 20px;

        }  
        .mapouter {
        position: relative;
        text-align: right;
        height: 350px;
        width: auto;
        }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 350px;
        width: auto;
    }
     
}

.columna2 {
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: column;

    .infocontacto {
        
    margin-bottom: 20px;
    display: flex;

          i {
            color: $color3;
                      
    p {
        color: $color6;
    }
    
}
                    }


}

.form {
    display: flex;
    
}

input {
    padding-left: 5px;
}

.primerinput {
    width: 300px;
    height: 30px;
}

.segundoinput {
    height: 30px;
    width: 600px;
}

.sendmessage {
    height: 40px;
    width: 140px;
    background-color: $color3;
    color: $color1;
    border-radius: 20px;
    transition: 0.3s;
}

.sendmessage:hover {
    background-color: $color10;
}

/* ---------------------------------------
------------------------------------------
                  FOOTER 
-------------------------------------------
-------------------------------------------*/


footer {
    height: 350px;
    width: 100%;
    padding-top: 20px;
    background-color: $color10;
    color: $color1; 
    display: flex;

        }

    .bloque1 {
        display: flex;
        flex-direction: row;
    
    }

    .bloque2 {
        display: flex;
        flex-direction: row;
        
    }

    .wayne {
        width: 300px;
        font-size: 13px;
    line-height: 24px;
    }

    .links {
        width: 100px;
    }

    .contactus {
        width: 200px;
    }

    .newsletter {
        width: 200px
    }

/* ---------------------------------------
------------------------------------------
                 COPYRIGHT 
-------------------------------------------
-------------------------------------------*/
.copyright {
    height: 100px;
    width: 100%;
    background-color: $color14; 
    text-align: center;
    color: $color1; 
    padding-top: 20px;
    font-weight: 400;
    line-height: 1.5;

    p span { 
        font-weight: bolder;
    }
}

