@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$color1:  #ffffff; 
$color2:  #1445b3; 
$color3:  #007bff;
$color4:  #74b5fc;
$color5:  #004289;
$color6:  #283d50;
$color7:  #556877;
$color8:  #444444; 
$color9:  #111111;
$color10: #004a99; 
$color11: #bfddfe;
$color12: #999999;
$color13: #ecf5ff;
$color14: #00428a; 
$color15: #00458f;
$color16: #ff689b;

$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;

$icon: 56px;

@mixin formato-titulo {
    color: $color6;
    font-size: 36px;
    font-weight: 500;    
    font-family: $font1;
    text-align: center;
}
@mixin formato-back-port{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 330px;
    height: 250px;
    margin: 20px;
    overflow: hidden;
}

@mixin estilos-batman {
    width: 220px;
	height: 220px;
    background-position: center;
	background-size: cover;
	margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}
@mixin over-portf{
    background-color: rgba(58, 58, 172, 0.5);
    height: 100%;
    width: 100%;
    transform: translateY(350px);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
}

body{
    font-family: $font1; 
    margin: 0;
    scroll-behavior: smooth;
}


/* ---------------------------------------
------------------------------------------
                      HEADER 
-------------------------------------------
-------------------------------------------*/
header{
    background-color: $color1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    position: fixed;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    z-index: 2; 
}
nav .links-header{
    box-sizing: border-box; 
    background-color: $color1;
    font-size: 14px;
    font-weight: 500;   
    color: $color5;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}

.img-logo img{
    height:25px; 
    width: auto; 
    padding: 25px; 
    cursor: pointer;
}

.links-header a{
    text-decoration: none;
    transition: all 0.3s;
    padding: 15px;
}
.links-header a:hover{
    color: $color3;
}
#menu {
    background-color: rgba(43, 43, 56, 0.8);
    color: $color1;
    font-size: 18px;
    font-family: $font2;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left:-300px;  
    ul li{
        list-style: none;
        margin: 15px 0;
        font-size: 18px;
    }
    ul li:hover{
        color: $color3;
        cursor: context-menu;
    }
   
}

#menu:target{
    transform: translate(300px);   
}

.icon-hamb{
     display: none;
    
}



@media (min-width:601px) and (max-width: 800px){
    .links-header a{
        display: none;
    }
    .icon-hamb{
        display: block;
        height: 20px;
        width: 20px;
    }

    .img-logo img{
padding-bottom: 20px;

}

    header{
        z-index: 0;
    }
}

@media (max-width: 600px) {
    
    header{ 
        justify-content: space-between;
        

        }
    
    .links-header a{
        display: none;
    }

    .img-logo img{
        
        padding-bottom: 15px;
        
        }   

    .icon-hamb{
        display: block;
        height: 20px;
        width: 20px;
        padding-right: 20px;
    }
    header{
        z-index: 0;
    }
}


#cruz{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 20px;
    color: $color1;
}


/* ---------------------------------------
------------------------------------------
                WE PROVIDE
-------------------------------------------
-------------------------------------------*/


#intro {
    
    background-color: $color2;
    padding: 60px 0 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
       }

.titulo {
    padding-top: 11%;
    padding-left: 10%;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}

.texto-provide {
    font-family: $font1; 
    font-size: 48px;
    font-weight: bolder;
    color: $color1; 
    margin: 0px 0px 40px 0px;
    
}   

.botones-provide {
    display: flex;
    
}

.resaltado-provide {
    color: $color4;
    text-decoration: underline;
    font-weight: bolder;

}

.boton-main1{
    background-color: $color3;
    color: $color1;
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 170px;
    height: 30px;
    padding-top: 12px;
    border: 2px solid $color3;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
    text-decoration: none;
   text-align: center;
}
.boton-main1:hover{
    background-color: $color2;
    border: 2px solid $color1;
}
.boton-main2{
    background-color: $color2;
    color: $color1;
    font-family: $font1;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 170px;
    height: 30px;
    padding-top: 12px;
    border: 2px solid $color1;
    border-radius: 50px;
    margin: 0 20px 20px 0;
    transition: all 0.5s;
    text-decoration: none;
    text-align: center;
}
.boton-main2:hover{
    background-color: $color3;
    border: 2px solid $color3;
}
.imgventanas {
    padding-top: 9%;
    padding-right: 5%;
}
.imgventanas img {
    width: 90%;
    height: auto
    }


    @media (min-width: 601px)and(max-width:800px) {
        
      #intro {
          flex-direction: column;
          flex-direction:  column-reverse;
          justify-content: center;
          align-items: center;    
      }

      .titulo {
        padding: 0;
    }
      
      .texto-provide {
        padding-top: 10px;  
        font-size: 40px;
          text-align: center;
          }

          .imgventanas {
          display: flex;
          align-items: center;
          justify-content: center;
      }
          .imgventanas img {
        width: 70%;
        height: auto
        }
        }
    
        @media (max-width:600px) {
       
            #intro {
                padding-top: 80px;
                flex-direction: column;
                flex-direction:  column-reverse;
                justify-content: center;
          align-items: center;
                
            }

            .titulo {
                padding: 0;
            }
            .texto-provide {
             padding-top: 10px;
                font-size: 30px; 
                text-align: center;
                }

            .imgventanas {
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;     
                }

            .imgventanas img {
                width: 50%;
                height: auto
                }

                          
        }
    



/* ---------------------------------------
------------------------------------------
                      ABOUT
-------------------------------------------
-------------------------------------------*/

#about {
    width: 100%;
    background-color: $color1;
    padding-bottom: 40px; 
    
    }
  
   
.tituloabout {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px; 

    p {
        font-size: 15px;
        color: $color7;
        font-family: $font2;
        text-align: center;
    }
}

.subtitulo-about-us {
    @include formato-titulo;

    }

.bloque-about-1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.bloque-about-2 {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.bloque-about-3 {
    padding-top: 20px;
    display: flex;
    justify-content: center;

}


.subbloqueabout {
    display: flex;
    flex-direction: row;
    align-items: center;
   } 

.circuloicono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid $color3;
    margin: 2px;
    margin-right: 10px;   
    
    i {
        color: $color3;
        font-size: 30px;
    }


}


.leyenda-circulo {
    font-size: 16px;
    cursor: pointer;
    }

.circuloicono:hover {
    background-color: $color3;
    }

i:hover {
    color: $color1;
}    

.textoabout {
    width: 550px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 150;
    color: $color6;
    
    .subtituloabout {
        font-size: 24px;
    }
   
}

.imgabout1 {
    width: 40%;
    height: auto;
}

.imgabout2 {
    width: 45%;
    height: auto;
}

.imgabout3 {
    width: 40%;
    height: auto;
}


@media (min-width: 601px)and(max-width:800px) {
  
    .bloque-about-1 {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .bloque-about-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .bloque-about-3 {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .imgabout1 {
        width: 75%;
        height: auto;
        margin-bottom: 20px;
    }

    .imgabout2 {
        width: 75%;
        height: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .imgabout3 {
        width: 75%;
        height: auto;
        margin-bottom: 20px;
        

        }

    .textoabout {
        width: 600px;
        padding-left: 10px;
        padding-right: 10px;
        

    }
}

@media (max-width: 600px) {
    .bloque-about-1 {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .bloque-about-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .bloque-about-3 {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        

        }

        .imgabout1 {
            width: 90%;
            height: auto;
            margin-bottom: 20px;
        }
        
        .imgabout2 {
            width: 90%;
            height: auto;
        }
        
        .imgabout3 {
            width: 90%;
            height: auto;
        }       
        
        .textoabout {
            width: 400px;
            padding-left: 10px;
            padding-right: 10px;
         
            }

        .circuloicono {
    width: 120px;
    height: 50px;
        }
    
    .circuloicono i
    {
    font-size: 25px;
    }

}
/* ---------------------------------------
------------------------------------------
                    SERVICES
-------------------------------------------
-------------------------------------------*/
#services {

    width: 100%;
    background-color: $color13; 
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        @include formato-titulo;
        margin-bottom: 20px;
    }
    
}
.services-subtitulo {
    text-align: center;
   font-size: 14px;
   
}

.contenedorcajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
        }

.contenedorcajas1 {
    display: flex;
    flex-direction: row;
}        

.cajas {
    width: 400px;
    height: 120px;
    background-color: $color1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s;
        }

    .cajas:hover {
        transform: translateY(-10px);
    }
    
   
    .encabezado-services {
        font-weight: 700;
        font-size: 16px;
             
    }  

      .encabezado-services:hover {
    color: $color10;
    cursor: pointer;
}


   .textcontainer {
       display: flex;
       flex-direction: column;
       align-items: flex-start;

       .descripcion-services {
        font-size: 14px;
        line-height: 24px;
        color: $color7;     
       }
   }

 .iconcontainer {
     margin-right: 10px;
     margin-left: 0;
 }   
    
   .icono1 {
    color: $color16;
    font-size: $icon;
    
} 

.icono2 {
    color: #3fcdc7;
    font-size: $icon;
        } 


 .icono3  {
    color: #d6ff22;
    font-size: $icon;
    
 }


 .icono4 {
    color: #e9bf06;
    font-size: $icon;
    
 }

 .icono5 {
    color:#41cf2e;
    font-size: $icon;
    
 }

 .icono6 {
    color: #4680ff;
    font-size: $icon;
    
     }

 @media (min-width: 601px)and(max-width:800px) {
    .cajas {
        width: 250px;
        height: 250px;
        margin: 10px;
    }
    }

    @media (max-width:600px) {
     
        .contenedorcajas1 {
            
            flex-direction: column;
        }
    }

/* ---------------------------------------
------------------------------------------
                WHY CHOOSE US
-------------------------------------------
-------------------------------------------*/

.choose {
    width: 100%;
    background-color: $color10; 
    color: $color1;
    padding-top: 20px;
    padding-bottom: 40px;

    h3 {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }

   p {
       font-size: 15px;
       text-align: center;
   }
    
}

.choosemain {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
    
    
.cajaschoose {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
}

.cajaindividual {
    height: 250px;
    width: 280px;
    background-color: $color15;
    text-align: center;
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    
    i {
        color: $color11;
        font-size: 48px;

    h4 {
    font-size: 22px;
    font-weight: 600;

    }     
    }
}

.cajaindividual:hover {
    background-color: $color5;
}


.textointermedio {
    font-size: 15px;
}

.leermas {
        font-weight: 600;
        cursor: pointer;
        padding-top: 25px;
}

.leermas:hover {
    text-decoration: underline;
}
.numeroschoose {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.numeros-choose-bloque1 {
    display: flex;
    flex-direction: row;
}

.numeros-choose-bloque2 {
    display: flex;
    flex-direction: row;
}

.contador {
    margin-left: 90px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    

p {
    text-align: center;
    font-size: 14px;
}

}

.cifrascontador {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}


@media (min-width: 601px)and(max-width:800px) {
    

    .cajaschoose {
        flex-wrap: wrap;
    }

    .cajaindividual {
        width: 600px;
        height: 250px;
        padding-bottom: 10px;
    }
        .numeros-choose-bloque1 {
        flex-direction: column;
    }

    .numeros-choose-bloque2 {
        flex-direction: column;
    }

.leermas {
    padding-top: 25px;
}

    }

    @media (max-width: 600px) {
     
        .cajaschoose {
            flex-wrap: wrap;
        }
    
        .cajaindividual {
            width: 400px;
            height: 200px;
        }

        .numeros-choose-bloque1 {
            flex-direction: column;
        }
    
        .numeros-choose-bloque2 {
            flex-direction: column;
        }

        .leermas {
            padding-top: 10px;
        }
 
 
    }


/* ---------------------------------------
------------------------------------------
                PORTFOLIO
-------------------------------------------
-------------------------------------------*/

#portfolio {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    background-color: $color1;
    display: flex;
    flex-direction: column;
}

.titulo-portfolio {
        @include formato-titulo;
    
    }

    .botones-portfolio ul{
        display: flex;
        justify-content:center;
        align-items: center;
  
        }

    .botones-portfolio ul li {
    margin: 15px;
    margin-top: -20px;
    padding: 6px 20px;
    font-size: 12px;
    color: $color3;
    border-radius: 50px;
    background: $color13;
    display: flex;
    justify-content:center;
    align-items: center;
    }
    .bp:hover{
        background-color: $color3;
        color: $color1;
    }

    .img-portfolio {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        .img-app1{
            background-image: url("img/portfolio/app1.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
           @include over-portf;

         h3{
             font-size: 23px;
             font-weight: bolder;
             font-family: $font2;
             margin: 0;
             cursor: pointer;
             transition: all 0.5s;
         } 

         h3:hover{
             color:$color3;
         }

         div {
             i{
                 background-color: $color3;
                 padding: 10px;
                 margin: 0 5px;
                 border-radius: 50%;
                 cursor: pointer;
                 transition: all 0.5s;
             }
             i:hover{
                 background-color: $color4;
             }
         }
        }
        .img-app1:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app2{
            background-image: url("img/portfolio/card2.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app2:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app3{
            background-image: url("img/portfolio/card1.jpg");
            @include formato-back-port;   
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app3:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app4{
            background-image: url("img/portfolio/web3.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app4:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app5{
            background-image: url("img/portfolio/web2.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app5:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app6{
            background-image: url("img/portfolio/card3.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app6:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app7{
            background-image: url("img/portfolio/app2.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app7:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app8{
            background-image: url("img/portfolio/app3.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app8:hover .overlay-portfolio{
            transform: translateY(0);
        }
        .img-app9{
            background-image: url("img/portfolio/web1.jpg");
            @include formato-back-port;
        }
        .overlay-portfolio{
            @include over-portf;
        }
        .img-app9:hover .overlay-portfolio{
            transform: translateY(0);
        }
    }
    //no se como hacer para que cuando achico la pantalla la foto tambien cambie de tamaño//
  @media (min-width:601px) and (max-width:801px) {
   

    .fila1 .fila2 .fila3 {
        width: 100%;
        height: 100%;
    }

  }



/* ---------------------------------------
------------------------------------------
                TESTIMONIALS 
-------------------------------------------
-------------------------------------------*/

#testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color13; 
    padding-top: 20px;
    padding-bottom: 60px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
   
    h3{
        @include formato-titulo;
    }
    }

.content-testimonials {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

        }

.heath {
    width: 120px;
    height: auto;
    border-radius: 60px;
    margin-right: 20px;
}

.content-testimonials h4 {
    font-size: 20px;
    font-weight: bold;
}

.content-testimonials h5 {
    font-size: 14px;
    color: $color12; 
}


.content-testimonials p {
    font-style: italic;
    color: $color7;
    font-weight: 300;
    line-height: 1.5;
}


.container-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }

.dots-testimonials-1 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $color3;
    margin: 5px;

}

.dots-testimonials {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $color12;
    margin: 5px;
}



@media (min-width: 601px)and(max-width:800px) {
    .content-testimonials {
        width: 80%;
    }
    }
    
    @media (max-width:600px) { 
        .content-testimonials {
            width: 80%;
            flex-direction: column;
        }

        .texto-testimonials {
            text-align: center;
        }
    }
    



/* ---------------------------------------
------------------------------------------
                TEAM 
-------------------------------------------
-------------------------------------------*/

#team {
	height: auto;
	width: 100%;
    background-color: $color1;
    padding-top: 20px;
    padding-bottom: 40px; 
	
    h3 {
        @include formato-titulo;
       
    }
}

.subtitulo-team {
    text-align: center;
    font-family: $font2;
    color: $color7;
    font-size: 15px;
}

.fotosteam {
    display: flex;
    align-items: center;
    justify-content: center;
}
.batman-par {
display: flex;

   }


.batman1 {
	
	background-image: url("./img/team-01.jpg");
    @include estilos-batman;
}

.batman2 {
	background-image: url("./img/team-02.jpg");
	@include estilos-batman;
}

.batman3 {
	background-image: url("./img/team-03.jpg");
	@include estilos-batman;
}

.batman4 {
	background-image: url("./img/team-04.jpg");
    @include estilos-batman;
    }

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(46, 46, 142, 0.5);
    color: $color1; 
	width: 100%;
	height: 100%;
	transform: translateY(220px);
	transition: transform 1s;
}

.batman1:hover .overlay {
	transform: translateX(0);
}

.batman2:hover .overlay {
	transform: translateX(0);
}

.batman3:hover .overlay {
	transform: translateX(0);
}

.batman4:hover .overlay {
	transform: translateX(0);
}



.nombrebatman {
    font-weight: bold; 
    margin: 0;
}

.cargobatman {
    font-style: italic;
}

@media (min-width: 601px)and(max-width:800px) {
.fotosteam {
    flex-direction: column;
}
}

@media (max-width:600px) { 

    .fotosteam {
        flex-direction: column;
    }

    .batman-par {
        flex-direction: column;
    }

    .batman1 {

        width: 320px;
        height: 320px;
        border-radius: 50%;

    }

    .batman2 {

        width: 320px;
        height: 320px;
        border-radius: 50%;

    }

    .batman3 {

        width: 320px;
        height: 320px;
        border-radius: 50%;

    }

    .batman4 {

        width: 320px;
        height: 320px;
        border-radius: 50%;

    }

    .overlay {
        width: 100%;
        height: 100%;
        transform: translateY(500px);
    }

}

/* ---------------------------------------
------------------------------------------
                    CLIENTS 
-------------------------------------------
-------------------------------------------*/

.clients {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: $color13; 
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    
     h3{
        @include formato-titulo;
    }
    }

.clients p {
    text-align: center;
    padding-bottom: 30px;
    color: $color7;
}    

.bloque {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }



.cajablanca {
    width: 280px;
    height: 160px;
    background-color: $color1; 
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;   

} 

.cajas-rezagadas {
    display: flex;
    
    }

.logocliente {
    
    img {
        width: 120px;
        height: auto;
        transition: all 2s;
    }

    img:hover {
    transform: scale(1.5,1.5);
    }
}



@media (max-width:600px) {

    .cajablanca {

    width: 420px;
    height: 160px;
    }

    .logocliente img {
    width: 380px;
    height: auto;
    }

    .cajas-rezagadas {
     flex-direction: column;
        
    }
        
 }

/* ---------------------------------------
------------------------------------------
                   CONTACT 
-------------------------------------------
-------------------------------------------*/

#contact {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $color1;
    

    h3 {
        @include formato-titulo;
    }
    

    }
    .contactustotal {
        display:flex;
        justify-content: center;

        .columna1 {
            margin: 20px;

        }  
        .mapouter {
        position: relative;
        text-align: right;
        height: 350px;
        width: auto;
        }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 350px;
        width: auto;
    }
     
}

.columna2 {
    
    display: flex;
    flex-direction: column;
    

    .infocontacto {
        
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
   
}
}


.cajitaicono {
    
    display: flex;
    justify-content: center;
    align-items: center;
    

i {
    padding-right: 10px;
    color: $color3;

}

    }

    .datoscolumna2 {
    font-size: 14px;
     color: $color6;
    
    }

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    
       }


.primerinput-a {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    box-shadow: none;
    padding-left: 5px;
}

.primerinput-b {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.segundoinput {
    height: 30px;
    width: 618px;
    margin-bottom: 10px;
    padding-left: 5px;
}

textarea {
    padding-left: 5px;
    font-family: $font1;
    font-size: 14px;
    }

input::placeholder {
    font-size: 14px;
}


.sendmessage {
    height: 40px;
    width: 160px;
    background-color: $color3;
    color: $color1;
    font-family: $font2;
    font-size: 16px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    margin-bottom: 10px;
}

.sendmessage:hover {
    background-color: $color10;
}

@media (min-width: 601px)and(max-width:800px) {
         
    .contactustotal {     
         flex-direction: column;
 }

 .columna1 {
     display: flex;
     justify-content: center;
 }

.infocontacto {
    padding-left: 20px;
    padding-right: 20px;
}

 .cajainputs {
     display: flex;
     flex-direction: column;
     
 }

 .primerinput-a {
    width: 500px;
}

.primerinput-b {
    width: 500px;
}

.segundoinput {
    width: 502px;
}

textarea {
    max-width: 500px;
    }
}


@media (max-width:600px) {
    .contactustotal {
        flex-direction: column;
    }

    
    .infocontacto {
    flex-direction: column;
    }

    .cajitaicono {
        justify-content: left;
        padding-left: 20px;

    }    

    
    .cajainputs {
        display: flex;
        flex-direction: column;  
        
                      
    }

    .primerinput-a {
        width: 400px;
    }

    .primerinput-b {
        width: 400px;
    }

    .segundoinput {
        width: 400px;
    }

    textarea {
        width: 400px;
        }
}


/* ---------------------------------------
------------------------------------------
                  FOOTER 
-------------------------------------------
-------------------------------------------*/


footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: $color10;
    color: $color1; 
    

    .footercontainer {
        display: flex;
        justify-content: center;
    }
}

.bloque1 {
        display: flex;
        flex-direction: row;
        
    
    }

.bloque2 {
        display: flex;
        flex-direction: row;
        
    }

.wayne {
        width: 350px;
        font-size: 13px;
        line-height: 24px;
        margin-right: 5px;

      h4 {
            font-size: 34px;
        }
    }

.links {
       width: 200px;
       margin: 2px;
       line-height: 2;

    h4 {
            font-size: 14px;
            font-weight: bold;
        
        }

    }

    .linksdatos {
        font-size: 14px;
    color: #ecf5ff;
    text-decoration: none;
    transition: 0.5s;
}

.linksdatos:hover {
    color: $color3;
}

.textodatos {
    font-family: $font2;
    font-size: 14px;

    span {
        font-weight: bold;
    }
}

.contactus {
        width: 200px;


        h4 {
            font-size: 14px;
            font-weight: bold;
             
            
        }
        }

.datos {
            line-height: 26px;
        
            }

.contenedoriconos {
    display: flex;
}

.bolaicono {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transition: 0.5s;
}

.bolaicono:hover {
    background-color: $color10;
    cursor: pointer;
}

.newsletter {
        width: 300px;

        h4 {
            font-size: 14px;
            font-weight: bold;
                  
            }
    }

form {
    display: flex;
}   
    
.bloqueemail  {

    padding: 6px 8px;
    width: 220px;

}
 .botonsubmit {
     background-color: $color3;
     color: $color1;
     border: 0;
     width: 80px;
     padding: 6px 0;
     cursor: pointer;
     transition: 0.5s;
 }   

 .botonsubmit:hover {
     background-color: $color10;
 }

 @media (min-width: 601px)and(max-width:800px) {
	     
    .footercontainer {     
         flex-direction: column;
         padding-left: 30px;
  }

  .wayne {
      margin-right: 50px;
  }

  .contactus {
      margin-right: 200px;
  }
}



@media (max-width:600px) {
        
.footercontainer {
        flex-direction: column;
    }
    
.bloque1 {
    flex-direction: column;
} 

.bloque2 {
    flex-direction: column;
}

footer {
    padding-left: 20px;
}

.wayne {
    width: 400px;
}

.newsletter {
width: 400px;
}

.bloqueemail  {

    width: 320px;
}
 .botonsubmit {
   width: 120px;

 }   



}

 

/* --------------------------------------
------------------------------------------
                 COPYRIGHT 
-------------------------------------------
-------------------------------------------*/
.copyright {
    height: 100px;
    width: 100%;
    background-color: $color14; 
    text-align: center;
    color: $color1; 
    padding-top: 20px;
    font-weight: 400;
    line-height: 1.5; 
    
    }

.destacado-wayne {
    font-weight: bold;
}