@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

/* ---------------------------------------
------------------------------------------
                      HEADER 
-------------------------------------------
-------------------------------------------*/
nav {
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #004289;
  height: auto;
  width: 100%;
  padding: 20px 10px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3); }

.img-logo img {
  height: 25px;
  width: auto;
  margin-right: 200px; }

.links-header a {
  text-decoration: none;
  transition: all 0.4s; }

.links-header a:hover {
  color: #007bff; }

/* ---------------------------------------
------------------------------------------
                WE PROVIDE
-------------------------------------------
-------------------------------------------*/
#intro {
  height: 630px;
  width: 100%;
  background-color: #1445b3; }

.titulo {
  height: auto;
  width: 400px;
  float: left;
  padding-top: 14%;
  padding-left: 12%;
  margin-bottom: 40px; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: #ffffff;
  text-align: left;
  margin: 0px 0px 40px 0px; }

span {
  color: #74b5fc;
  text-decoration: underline;
  font-weight: bolder; }

.boton-main1 {
  background-color: #007bff;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 32px;
  border: 2px solid #007bff;
  border-radius: 50px;
  margin: 0 20px 20px 0;
  transition: all 0.5s;
  text-decoration: none; }

.boton-main1:hover {
  background-color: #1445b3;
  border: 2px solid #ffffff; }

.boton-main2 {
  background-color: #1445b3;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 32px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  margin: 0 20px 20px 0;
  transition: all 0.5s;
  text-decoration: none; }

.boton-main2:hover {
  background-color: #007bff;
  border: 2px solid #007bff; }

.imgventanas {
  height: 55px;
  width: 560px;
  float: right;
  padding-top: 13%;
  padding-right: 12%; }

.imgventanas img {
  width: 100%;
  height: auto; }

/* ---------------------------------------
------------------------------------------
                      ABOUT
-------------------------------------------
-------------------------------------------*/
#about {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 40px; }
  #about h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  #about p {
    font-size: 15px;
    color: #556877;
    font-family: "Open Sans", sans-serif; }

.tituloabout {
  display: flex;
  flex-direction: column;
  align-items: center; }

.bloqueabout {
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.subbloqueabout {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .subbloqueabout .circuloicono {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #007bff;
    margin: 2px; }
  .subbloqueabout i {
    color: #007bff;
    font-size: 30px; }

.circuloicono:hover {
  background-color: #007bff; }

i:hover {
  color: #ffffff; }

.textoabout {
  width: 550px;
  padding-left: 50px;
  padding-right: 50px; }
  .textoabout .subtituloabout {
    font-size: 24px; }

.imgabout1 {
  width: 40%;
  height: auto; }

.imgabout2 {
  width: 45%;
  height: auto; }

.imgabout3 {
  width: 40%;
  height: auto; }

/* ---------------------------------------
------------------------------------------
                    SERVICES
-------------------------------------------
-------------------------------------------*/
#services {
  height: 800px;
  width: 100%;
  background-color: #ecf5ff;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #services h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  #services p {
    text-align: center; }

.contenedorcajas {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.cajas {
  width: 400px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center; }
  .cajas .encabezado {
    font-weight: 700; }

.textcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.icono1 {
  color: #ff689b;
  font-size: 64px; }

.icono2 {
  color: #3fcdc7;
  font-size: 64px; }

.icono3 {
  color: #d6ff22;
  font-size: 64px; }

.icono4 {
  color: #e9bf06;
  font-size: 64px; }

.icono5 {
  color: #41cf2e;
  font-size: 64px; }

.icono6 {
  color: #4680ff;
  font-size: 64px; }

/* ---------------------------------------
------------------------------------------
                WHY CHOOSE US
-------------------------------------------
-------------------------------------------*/
.choose {
  height: 800px;
  width: 100%;
  background-color: #004a99;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px; }
  .choose h3 {
    font-size: 36px;
    font-weight: 500;
    text-align: center; }
  .choose p {
    text-align: center; }

.choosemain {
  display: flex;
  flex-direction: column;
  padding-top: 20px; }
  .choosemain .cajaschoose {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

.cajaindividual {
  width: 300px;
  height: 300px;
  background-color: #00458f;
  text-align: center;
  padding: 10px;
  margin: 15px;
  border-radius: 10px; }
  .cajaindividual i {
    color: #bfddfe;
    font-size: 48px; }

.cajaindividual:hover {
  background-color: #004289; }

.numeroschoose {
  margin-top: 20px;
  display: flex;
  justify-content: space-around; }

/* ---------------------------------------
------------------------------------------
                PORTFOLIO
-------------------------------------------
-------------------------------------------*/
#portfolio {
  width: 100%;
  height: auto;
  background-color: #ffffff; }
  #portfolio h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  #portfolio ul {
    display: block;
    text-align: center; }
  #portfolio .botones-portfolio ul li {
    margin: 15px 15px 15px 0;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #007bff;
    border-radius: 50px;
    background: #ecf5ff;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center; }
  #portfolio .bp:hover {
    background-color: #007bff;
    color: #ffffff; }

/* ---------------------------------------
------------------------------------------
                TESTIMONIALS 
-------------------------------------------
-------------------------------------------*/
#testimonials {
  width: 100%;
  background-color: #ecf5ff;
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1); }
  #testimonials h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }

.content-testimonials {
  padding-right: 280px;
  padding-left: 280px;
  display: flex; }

.heath {
  width: 120px;
  height: auto;
  border-radius: 60px;
  margin-right: 20px; }

.content-testimonials h5 {
  font-size: 14px;
  color: #999999; }

.content-testimonials p {
  font-style: italic; }

/* ---------------------------------------
------------------------------------------
                TEAM 
-------------------------------------------
-------------------------------------------*/
#team {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #team h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }

.fotosteam {
  display: flex; }

.batman1 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-01.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.batman2 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-02.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.batman3 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-03.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.batman4 {
  width: 220px;
  height: 220px;
  background-image: url("./img/team-04.jpg");
  background-position: center;
  background-size: cover;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(46, 46, 142, 0.5);
  color: #ffffff;
  width: 100%;
  height: 100%;
  transform: translateY(220px);
  transition: transform 1s; }

.batman1:hover .overlay {
  transform: translateX(0); }

.batman2:hover .overlay {
  transform: translateX(0); }

.batman3:hover .overlay {
  transform: translateX(0); }

.batman4:hover .overlay {
  transform: translateX(0); }

.nombrebatman {
  font-weight: bold; }

.cargobatman {
  font-style: italic; }

/* ---------------------------------------
------------------------------------------
                    CLIENTS 
-------------------------------------------
-------------------------------------------*/
.clients {
  height: 600px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ecf5ff; }
  .clients h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }

.clients p {
  text-align: center; }

.bloque1 {
  display: flex;
  justify-content: center; }

.bloque2 {
  display: flex;
  justify-content: center; }

.cajablanca {
  width: 250px;
  height: 200px;
  background-color: #ffffff;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.logocliente img {
  width: 120px;
  height: auto;
  transition: all 2s; }

.logocliente img:hover {
  transform: scale(1.5, 1.5); }

/* ---------------------------------------
------------------------------------------
                   CONTACT 
-------------------------------------------
-------------------------------------------*/
#contact {
  height: 550px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff; }
  #contact h3 {
    color: #283d50;
    font-size: 36px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center; }
  #contact .contactustotal {
    display: flex;
    justify-content: center; }
  #contact .columna1 {
    margin: 20px; }
  #contact .mapouter {
    position: relative;
    text-align: right;
    height: 350px;
    width: auto; }
  #contact .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 350px;
    width: auto; }

.columna2 {
  width: 500px;
  height: 50px;
  display: flex;
  flex-direction: column; }
  .columna2 .infocontacto {
    margin-bottom: 20px;
    display: flex; }
    .columna2 .infocontacto i {
      color: #007bff; }
      .columna2 .infocontacto i p {
        color: #283d50;
        line-height: 28px;
        font-size: 14px; }

.cajitaicono {
  display: flex;
  justify-content: center;
  align-items: center; }

.form {
  display: flex; }

.cajainputs {
  display: flex; }

.primerinputa {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 5px; }

.primerinputb {
  width: 300px;
  height: 30px;
  margin-bottom: 10px; }

.segundoinput {
  height: 30px;
  width: 600px;
  margin-bottom: 10px; }

.sendmessage {
  height: 40px;
  width: 140px;
  background-color: #007bff;
  color: #ffffff;
  border: 0;
  border-radius: 20px;
  transition: 0.3s;
  margin-bottom: 10px; }

.sendmessage:hover {
  background-color: #004a99; }

/* ---------------------------------------
------------------------------------------
                  FOOTER 
-------------------------------------------
-------------------------------------------*/
footer {
  height: 350px;
  width: 100%;
  padding-top: 20px;
  background-color: #004a99;
  color: #ffffff;
  display: flex;
  justify-content: center; }

.bloque1 {
  display: flex;
  flex-direction: row; }

.bloque2 {
  display: flex;
  flex-direction: row; }

.wayne {
  width: 350px;
  font-size: 13px;
  line-height: 24px;
  margin: 2px; }
  .wayne h4 {
    font-size: 34px; }

.links {
  width: 200px;
  margin: 2px; }
  .links h4 {
    font-size: 14px;
    font-weight: bold; }

.textodatos {
  font-size: 14px; }

.contactus {
  width: 200px; }
  .contactus h4 {
    font-size: 14px;
    font-weight: bold; }

.datos {
  line-height: 26px; }

.contenedoriconos {
  display: flex; }

.bolaicono {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px; }

.bolaicono:hover {
  background-color: #004a99;
  cursor: pointer; }

.newsletter {
  width: 200px; }
  .newsletter h4 {
    font-size: 14px;
    font-weight: bold; }

.botonsubmit {
  background-color: #007bff;
  color: #ffffff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  cursor: pointer; }

/* ---------------------------------------
------------------------------------------
                 COPYRIGHT 
-------------------------------------------
-------------------------------------------*/
.copyright {
  height: 100px;
  width: 100%;
  background-color: #00428a;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  font-weight: 400;
  line-height: 1.5; }
  .copyright p span {
    font-weight: bolder; }
